a{text-decoration: none;
  color: white;}
  
a:hover{background-color: #3d5a80;}

.topnav {overflow: hidden;
  background-color: #403d39;}

.topnav a {float: left;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;}

.topnav a:hover {background-color: #8a817c;
  color: antiquewhite;}
