
.topnav {overflow: hidden;
  margin: 0;
  font-weight: 50;}

.topnav a {float: right;
  color: #3e2121;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;}

.topnav a:hover{
  color: #ca5e51;}
